@font-face {
  src: url("../../vendor/CabinetGrotesk-Bold.woff") format("woff");
  font-family: "Cabinet Grotesk-Bold";
}

.clothes__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 135px;
}

.clothes__section {
  display: flex;
  flex-direction: column;
}

.clothes__section-items {
  width: 100%;
  display: flex;
  padding: 0;
  margin-top: 63px;
}

.clothes__button {
  font-family: "Cabinet Grotesk-Bold";
  font-style: normal;
  font-weight: 700;
  border: none;
  background-color: transparent;
  color: gray;
  font-size: 20px;
  line-height: 24.8px;
  padding-left: 20px;
  margin-bottom: 16px;
}

.clothes__title {
  font-family: "Cabinet Grotesk-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  margin: 0 0 16px;
}
