.switch {
  display: flex;
  position: relative;
  cursor: pointer;
}

.switch__input {
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 56px;
  height: 28px;
  appearance: none;
  cursor: pointer;
}

.switch__input:hover {
  border: 2px solid #000;
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

/* .switch__input:checked + .switch__slider {
  transform: translateX(100%);
} */

.switch__slider-F {
  left: 27px;
}
/* .switch__slider-C {
} */

.switch__temp-F {
  position: absolute;
  top: -12px;
  left: 36px;
  /* opacity: 0; */
  color: rgba(0, 0, 0, 0.5);
}
.switch__temp-C {
  position: absolute;
  top: -12px;
  left: 9px;
  /* opacity: 0; */
  color: rgba(0, 0, 0, 0.5);
}
.switch__active {
  font-size: 16px;
  color: white;
  opacity: 1;
}
