@font-face {
  src: url("../../vendor/CabinetGrotesk-Bold.woff") format("woff");
  font-family: "Cabinet Grotesk-Bold";
}

@font-face {
  src: url("../../vendor/CabinetGrotesk-Medium.woff") format("woff");
  font-family: "Cabinet Grotesk-Medium";
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 28px;
  font-family: Cabinet Grotesk-Medium;
  font: 20px;
  line-height: 24px;
  max-width: 1360px;
}
.header__logo-container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}
.header__add-clothes-button {
  margin: 0;
  border: none;
  background-color: #f3f3f3;
}

.header__add-clothes-button:hover {
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  /* margin-left: 788px; */
}
.header__username {
  font-family: Cabinet Grotesk-Medium;
  font: 20px;
  line-height: 24px;
  margin: 0;
  text-decoration: none;
  color: inherit;
}
